{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>passKeeper</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://use.fontawesome.com/36e6971a0e.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static "user_auth/css/login.css" %}">
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
  <!-- Brand -->
  <div class="col-lg-4 col-md-4 col-sm-12 col-12">
  	<a class="navbar-brand" href="{% url 'index' %}" >pass<span>Keeper</span></a>
  </div>


  <!-- Links -->
  <div class="navbar col-lg-6 col-md-6 col-sm-12 col-12">
  	<ul class="navbar-nav">
	    <li class="nav-item">
	      <a class="active nav-link" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
	    </li>
	    <li class="nav-item">
	      <a href="#" class="nav-link"><i class="fa fa-fw fa-search"></i> Search</a>
	    </li>
	    <li class="nav-item">
	      <a href="#" class="nav-link"><i class="fa fa-fw fa-envelope"></i> Contact</a>
	    </li>
	</ul>
</div>
<div class="navbar col-lg-2 col-md-2 col-sm-12 col-12">
  	<ul class="navbar-nav navbar-right">
	    <li class="nav-item">
	      <a class="nav-link" href="{% url 'register_page' %}"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign Up</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="{% url 'login_page' %}"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
	    </li>
	</ul>
</div>
</nav>
<br>

<div class="container">
  <div class="register">
         <h1>LogIn to  Account</h1>
         <p style="color: red;">{{msg}}</p>
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <span class="input-text">Enter username</span>
                <input type="text" name="username" class="input" required>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <span class="input-text">Password</span>
                  <input type="password" name="pass" id="password" class="input" required>
                  <i class="fa fa-eye eye-pass" aria-hidden="true"></i>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                  <span class="input-text">Check me out</span>
                  <input type="checkbox" class="input-check" name="check">
                  <span class="checkmark"></span>
              </div>
            </div><!-- end of row -->
            <br><br>
            <input type="submit" class="btn btn-light btn-lg" name="submit" value="Log In" style="margin-left: 8px;">
          </form>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-12 d-md-block d-sm-none d-none">

            <img src="{% static "user_auth/images/security.jpg" %}" style="width: 500px;height: 300px;top: -40px;position: absolute;">
          </div>

    </div><!-- end of row -->



  </div> <!-- end of register -->
</div><!-- end of container -->

<script type="text/javascript">
  $(".fa-eye").on("click", function() {
$(this).toggleClass("fa-eye-slash");
  var input = $("#password");
if (input.attr("type") === "text"){
  input.attr("type", "password");}
else{
  input.attr("type", "text"); }
});
</script>

<script type="text/javascript">
  $(".fa-eye").on("click", function() {
$(this).toggleClass("fa-eyedropper");
  var input = $("#Repassword");
if (input.attr("type") === "text"){
  input.attr("type", "password");}
else{
  input.attr("type", "text"); }
});
</script>

<script type="text/javascript">
  $(".input").focus(function(){
    $(".input-text").parent().addClass("focus");
    $(".input").addClass("focus");
  })
</script>

<script type="text/javascript">
  $('input:checkbox').change(function(){
    if($(this).is(":checked")) {
        $('.register').parent().addClass("color");
    } else {
        $('.register').parent().removeClass("color");
    }
});
</script>


</body>
</html>
