@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{margin: 0;padding: 0;}
body{margin: 0;padding: 0;display: border-box;}
.register{background: #343a40;color: ;}
.register{position: relative;height:auto;width: auto;top: 60px;left: ;background: #343a40;padding: 10px;border-radius: 15px}
.register h1{color: #fff;font-family: 'Ubuntu', sans-serif;font-size: 35px;text-align: center;margin-top: 20px;}
.register form{outline: none;margin-top: 50px;}
.register input[type='text'],.register input[type='email'],.register input[type='password']{position: relative;width: 305px;height: 40px;margin: 5px;font-family: 'Dosis', sans-serif;padding-left: 5px;font-size: 20px;}

.register span.input-text{position: relative;top: ;left: 10px;font-family: 'Ubuntu', sans-serif;display: block;width: 180px;background: ;text-align: center;transition: .5s;color: #fff;transition: .5s;}
.register .submit{margin: 5px;width: 250px;height: 50px;line-height: 15px;background: #40739e;font-family: 'Ubuntu', sans-serif;font-size: 24px;color: #fff;}
.register a{text-decoration: none;font-family: 'Lobster', cursive;display: block; margin-top: -18px;margin-left: 140px;}

.register input:focus ~ span.input-text{font-size: 14px;background: #2ecc71;color: #fff;}
.register input:focus{}
.register .eye-pass{position: absolute;left: 300px;top: 40px;}
.focus .input-text{background: ;color: #fff;border: 1px solid #fff;}
.focus .eye-pass{position: absolute;left: 300px;top: 43px;}

/* Hide the default checkbox */
.register input[type=checkbox] {position: absolute;top: 30px;left: 90px;height: 30px;width: 30px;visibility: ;z-index: 1;opacity: 0;}

/* Creating a custom checkbox
based on demand */
.register .checkmark {position: absolute;top: 30px;left: 90px;height: 30px;width: 30px;background-color: #fff;border-radius: 5px;}

/* Specify the background color to be shown when hovering over checkbox
.register:hover input ~ .checkmark {background-color: yellow;} */

/* Specify the background color to be shown when checkbox is active */
.register input[type=checkbox]:active ~ .checkmark {background-color: red;}

/* Specify the background color to be shown when checkbox is checked */
.register input[type=checkbox]:checked ~ .checkmark {background-color: #10ac84;}

/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.checkmark:after {content: "";position: absolute;display: none;}

/* Display checkmark when checked */
.register input[type=checkbox]:checked ~ .checkmark:after {display: block;}

/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and  showing only two border to make it look like a tickmark */
.register .checkmark:after {left: 8px;bottom: 5px;width: 6px;height: 12px;border: solid white;border-width: 0 4px 4px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}

/* changing div.register color when checkbox is checked */
.color .register{background: #20bf6b;}
